*{
    letter-spacing:1px;
    text-align: center;
    overflow-x: hidden;
    
   
}
h1{
    font-size: 60px;
    padding-top: 30px;
    color:darkblue;
}
h2{
    font-size: 20px;
}
.product{
    padding-bottom: 10px;
    padding-top: 20px;
    line-height: 30px;
    width: min-content;
}
.product-info{
    padding-top:20px;
}
#brand{
    font-size: 20px;
    font-weight: bold;
}
#price{
    font-size: 15px;
    font-weight: bolder;
}
.product h2{
    padding-top:10px;
    font-size: 15px;
    font-weight: bolder;
}

a{
    text-decoration: none;
}
.brand-description{
    background-color:rgba(250, 255, 255, 0.7);
}
.content{
    background-color:#b0daff;
    padding-bottom: 20px;
}
#info-result{
    padding-top: 20px;
}
#products{
    
    width: 100%;
    padding:20px;
    justify-content: center;
    
    
}
.img_container{
    position: relative;
}

.img_container button{
  position: absolute;
  top: 2%;
  right: 2%;
  width:40px;
  height:40px;
  border:none;
  background-color:transparent;
}

#buttonunpressed{
  background-image: url("img/heart.png");
  background-size: 40px 40px;
}

#buttonunpressed:hover{
  background-image: url("img/fullheart.png");
  background-size: 40px 40px;
}

#buttonpressed{
    background-image: url("img/fullheart.png");
    background-size: 40px 40px;
  }

#favorite{
    border-radius: 20px;
    text-align: center;
    min-width: 70px;
    border: 2px solid darkblue;
    background-color: lightblue;
}
.product-photo{
    max-height: 400px;
    height:auto;
    max-width: 400px;
    border-radius: 10px;
}
@media screen and (max-width: 450px){   
    .product-photo{   
        max-height: 300px;
        height:auto;
        max-width: 400px;
        border-radius: 8px;   
    } 
}
@media screen and (max-width: 330px){   
    .product-photo{   
        max-height: 250px;
        height:auto;
        max-width: 250px;
        border-radius: 8px;   
    } 
}

.row{
    justify-content: center;
   
}
.head{
    background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 300px,
    #b0daff 60px,
    #b0daff 360px
    );

    padding-bottom: 10px;
}
#options{
    margin-top:10px;
    line-height: 50px;
    
}
#filters{
    
    
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    border:3px solid darkblue;
}
#indicators{
    padding-top: 10px;
}

#navigate{
    font-size: 25px;
    overflow-y: hidden;
}
#navigate button{
    background: transparent;
    border: transparent;   
}

#navigate strong{
    padding: 15px;
}
.noMatch h2{
    padding-top: 20px;
    font-size: 40px;
}

.noMatch h3{
    font-size: 20px;
    color: white;
}

footer{
    background-color:rgba(250, 255, 255, 0.7);
    padding: 40px;
}